<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Custom Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384
    -T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .failed{
        color:red;

        }
    </style>
</head>
<body>
<h3>My Custom Login Page</h3>
<form action="#" th:action="@{/authenticatedTheUser}"method="POST">

    <!-- Check for login error -->
    <div th:if="${param.error}">
    <i class="failed">Sorry! you entered invalid username or password</i>
    </div>
<p>
    User name:<input type="text" name="username" />
</p>
    <p>
        Password:<input type="password" name="password" />
    </p>
    <input type="submit" value="Login">
</form>
</body>
</html>