<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation</title>
</head>
<body>
<h3>Student Confirmation</h3>
The studnet is confirmed :<span th:text="${student.firstName} + ' '+${student.lastName}"></span>
<br><br>
Country is <span th:text="${student.country}" />
<br><br>
Programing language is <span th:text="${student.progLang}" />
<br><br>
Systems are
<ul>
    <li th:each="tempSystem : ${student.favoriteSystems}"th:text="${tempSystem}" />
</ul>
</body>
</html>